<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="camera_info_topic" default="camera/rgb/camera_info"/>
  <arg name="rgb_image_topic" default="camera/rgb/image_color"/>
  <arg name="depth_image_topic" default="camera/depth/depth_image"/>

  <arg name="detector_model_filename" default="$(find uwds3_perception)/models/detection/ssd_mobilenet_v2_coco_2018_03_29.pb"/>
  <arg name="detector_weights_filename" default="$(find uwds3_perception)/models/detection/ssd_mobilenet_v2_coco_2018_03_29.pbtxt"/>
  <arg name="detector_config_filename" default="$(find uwds3_perception)/config/detection/mscoco_config.yaml"/>

  <arg name="shape_predictor_config_filename" default="$(find uwds3_perception)/models/estimation/shape_predictor_68_face_landmarks.dat"/>

  <arg name="use_gui" default="true"/>

  <node name="uwds3_perception" pkg="uwds3_perception" type="uwds3_perception_node.py" args="" output="screen" respawn="false">
    <rosparam subst_value="true">
      camera_info_topic: $(arg camera_info_topic)
      rgb_image_topic: $(arg rgb_image_topic)
      depth_image_topic: $(arg depth_image_topic)
      detector_model_filename: $(arg detector_model_filename)
      detector_weights_filename: $(arg detector_weights_filename)
      detector_config_filename: $(arg detector_config_filename)
      shape_predictor_config_filename: $(arg shape_predictor_config_filename)
      use_gui: $(arg use_gui)
    </rosparam>
  </node>

</launch>
